# Ignore node_modules directory
/node_modules

# Ignore specific build and output folders
/.next/
/out/
/build

# Allow .env files (if needed) for development; modify as per requirement
.env* 

# Ignore coverage reports
/coverage

# Ignore macOS system files
.DS_Store

# Ignore sensitive files
*.pem

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ignore Vercel config (if applicable)
.vercel

# TypeScript build info (if using TypeScript)
*.tsbuildinfo
next-env.d.ts
